*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: #efecec;
    font-family: sans-serif;
    color: #333;
}

h1, h2 {
    color: navy;

}

main{
    display: flex;
    gap: 30px;
    padding: 20px;
}

.post{
    flex: 2;
}

.sidebar{
    flex: 1;
    background-color: #f4f4f4; 
    padding: 15px;
    border-radius: 5px;
}

#barra-comentario{
    align-content: flex-end;
    align-items: flex-end;

}

.destaque{
    color: darkblue;
    font-weight: bold;
}

#cabecalho-principal{
    background-color: #d5d2d2;
    text-align: center; /* centraliza o cabeçalho*/
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post-principal{
    background-color: white;
    border: 1px solid #ddd;
    padding: 25px;
    margin: 20px;
}

nav a{
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 15px;
}

footer{
    font-size: 14px;
    text-align: center;
}

button{
    background-color: navy;
    color: white;
    padding: 10px;
    border: none;
}